hbulens.Exam70487.Wcf.Client/Service References/CustomerService/Customers1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://github.com/hbulens/Exam70487" elementFormDefault="qualified" targetNamespace="https://github.com/hbulens/Exam70487" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Customers?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/hbulens.Exam70487.Common" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/hbulens.Exam70487.Common" minOccurs="0" name="GetResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>